<!-- Current time indicator -->
<% if date == Date.today %>
  <div class="col-start-1 col-end-2 row-start-1 grid grid-cols-1 z-10" style="grid-template-rows: 1.75rem repeat(288, minmax(0, 1fr)) auto">
    <div data-controller="current-time" 
        data-current-time-target="indicator"
        class="relative mt-px flex pointer-events-none"
        style="display: none;"
        >
      <div class="absolute inset-0 flex">
        <div class="w-full relative">
          <div class="absolute left-0 right-0 h-px bg-red-400"></div>
          <div class="absolute -ml-1.5 -mt-1.5 w-3 h-3 rounded-full bg-red-400"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Events -->
<%= turbo_frame_tag "calendar_events", class: "contents" do %>
  <% events.each do |event| %>
    <% next if event.start_time.nil? %>
    <%= render "calendar/event", event: event %>
  <% end %>
<% end %>
