<h2>WebRTC Chat</h2>
<div data-controller="webrtc-chat">
  <button data-webrtc-chat-target="startButton" data-action="click->webrtc-chat#startChat">
    Start Chat
  </button>
  
  <button data-webrtc-chat-target="stopButton" data-action="click->webrtc-chat#stopChat">
    Stop Chat
  </button>

  <audio data-webrtc-chat-target="audioOutput"></audio>
</div>
